/*font type is roboto*/

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
}

.header {
    background-color: #1f2937;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    column-gap: 500px;
}

.head-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    align-self: center;


}

.head-link {
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
    display: flex;
    gap: 24px;

}

.main-flex1 {
    background-color: #1f2937;
    display: flex; 
    justify-content: center;
    gap: 12px;
}

.awesomeblock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.bold-awesome {
    color: #E5E7EB;
    font-weight: 800;
    font-size: 48px;
    max-width: 400px;
    margin-bottom: 12px;
    
}

.awesome-small {
    color: #E5E7EB;
    font-size: 18px;
    max-width: 450px;
}

button {
    padding: 12px 32px;
    border-radius: 8px;
  }

button.sign-up-top {
    background: #3882f6;
    border: 1px solid #3882f6;
    color: white;
    margin-top: 12px;

}

img {
    height: auto;
    width: 225px;
    border-radius: 15px;
}

.img-main {
    width: 650px;
    height: 400px;
    display: flex;
 
}

.img-main img {
    height: 75%;
    width: 100%;
    margin:auto;
    
}

.main-flex2 {
    display: flex;
    flex-direction: column;
    padding-bottom: 64px;
}

.title {
    display: flex;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    justify-content: center;
    margin: 32px;
}

.img-contain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 52px;

}

.info {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    max-width: 200px;
}

.text {
    max-width: 185px;
}


.main-flex3 {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 300px;

}

.quote {
   
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    display: flex;
    flex-wrap: wrap;
    max-width: 750px;
    align-self: center;

}

.quote-sig {
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-left: 500px;
}

.main-flex4 {
    display: flex;
    justify-content: center;
}

.calltoaction {
    background-color: #3882f6;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 35px;
    gap: 42px;
    width: 1100px;
}

.actionbox {
    color: #F9FAF8;
    padding: 25px;
    margin: 25px;
    display: flex;
    flex-direction: column;
}


button.action-button {
    background: #3882f6;
    border: 2px solid white;
    color: white;
    font-weight: 900;
    margin: 25px;
}

footer {
    background-color: #1f2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    padding: 32px;
}